aiofiles==24.1.0
annotated-types==0.7.0
anyio==4.8.0
asn1crypto==1.5.1
attrs==25.3.0
autocommand==2.2.2
babel==2.17.0
bcc==0.31.0
bcrypt==4.2.0
beautifulsoup4==4.13.4
blinker==1.9.0
Brlapi==0.8.6
Brotli==1.1.0
certifi==2025.1.31
chardet==5.2.0
click==8.1.8
command-not-found==0.3
contourpy==1.3.1
crit==4.1.1
cryptography==43.0.0
cssselect==1.3.0
cupshelpers==1.0
cycler==0.12.1
dasbus==1.7
dbus-python==1.4.0
decorator==5.2.1
defusedxml==0.7.1
distro==1.9.0
distro-info==1.14
dnspython==2.7.0
docker==7.1.0
email_validator==2.2.0
fastapi==0.115.11
fonttools==4.55.3
fs==2.4.16
fuse-python==1.0.9
Glances==4.3.1
gyp-next==0.16.2
h11==0.14.0
html5lib-modern==1.2
httplib2==0.22.0
idna==3.10
inflect==7.3.1
influxdb==5.3.2
iotop==0.6
itsdangerous==2.2.0
jaraco.context==6.0.1
jaraco.functools==4.1.0
Jinja2==3.1.6
kiwisolver==1.4.7
language-selector==0.1
launchpadlib==2.1.0
lazr.restfulclient==0.14.6
lazr.uri==1.0.6
linkify-it-py==2.0.3
louis==3.33.0
lxml==6.0.1
lz4==4.4.0+dfsg
markdown-it-py==3.0.0
MarkupSafe==2.1.5
matplotlib==3.10.1+dfsg1
mdurl==0.1.2
mechanize==0.4.10
more-itertools==10.7.0
mpmath==1.3.0
msgpack==1.0.3
netaddr==1.3.0
netifaces==0.11.0
numpy==2.2.4
oauthlib==3.2.2
olefile==0.47
orjson==3.10.7
packaging==25.0
pexpect==4.9.0
pillow==11.3.0
platformdirs==4.3.7
ply==3.11
pooch==1.8.2
protobuf==4.21.12
psutil==7.0.0
ptyprocess==0.7.0
pyasn1==0.6.1
pyasyncore==1.0.2
pycairo==1.27.0
pycriu==4.1.1
pycryptodomex==3.20.0
pycups==2.0.4
pydantic==2.10.6
pydantic_core==2.27.2
Pygments==2.18.0
PyGObject==3.50.0
PyJWT==2.10.1
pylibacl==0.7.2
pyparsing==3.1.2
PyQt6==6.9.1
PyQt6_sip==13.10.2
pysmi==0.3.4
pysnmp==4.4.12
pystache==0.6.5
python-apt==3.0.0+ubuntu1.1
python-dateutil==2.9.0
python-debian==1.0.1+ubuntu1
python-multipart==0.0.20
pytz==2025.2
pyxattr==0.8.1
pyxdg==0.28
PyYAML==6.0.2
requests==2.32.3
rich==13.9.4
scipy==1.15.3
sentry-sdk==2.18.0
setproctitle==1.3.6
sniffio==1.3.1
soupsieve==2.7
starlette==0.46.1
sympy==1.13.3
systemd-python==235
tornado==6.4.2
tqdm==4.67.1
typeguard==4.4.2
typing_extensions==4.13.2
ubuntu-drivers-common==0.0.0
ubuntu-pro-client==8001
uc-micro-py==1.0.3
ufoLib2==0.17.1
ufw==0.36.2
unattended-upgrades==0.1
unicodedata2==15.1.0
urllib3==2.3.0
uvicorn==0.32.0
uvloop==0.21.0
wadllib==2.0.0
webencodings==0.5.1
wheel==0.46.1
wsproto==1.2.0
xdg==5
xkit==0.0.0
