h1 {
    margin: 0px;
    height: max(20px, 5.5vh);
    color: rgb(255, 143, 31);
    font-size: max(15px, 4.5vh);
}

.hdr{
    top: 0;
    position: sticky;
    align-items: center;
    justify-content: center;
    display: flex;
    height: max(20px, 6.5vh);
    background:
        linear-gradient(
            to right, 
            #0f1038 0%,
            rgb(0, 0, 0) 50%,
            #10124d 100%
        );
    border-bottom: 4px solid rgba(255, 143, 31, 0.64);
}